[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
    "npm ci --ignore-scripts"
]

[phases.build]
cmds = [
    "npm run prisma:generate",
    "npm run build"
]

[start]
cmd = "npm run prisma:migrate:prod && npm run start"
