[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
    "npm ci"
]

[phases.build]
cmds = [
    "./node_modules/.bin/prisma generate",
    "npm run build"
]

[start]
cmd = "./node_modules/.bin/prisma migrate deploy && npm run start"
